body{
    background-color: #202020 !important;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}
.mt-6{
    margin-top: 8rem;
}
.section{
    margin-top: 10rem;
}
.section-down{
    margin-bottom: 15rem;
}
.nav-color{
    background-color: #202020 !important;
}
.portafolio {
    color: #eda2b9 !important;
}
.nav-link {
    color: #eda2b9 !important;
    transition: all 0.2s ease;
    margin-bottom: 8px;
    margin-top: 8px;
}
.nav-link-hover:hover {
    color: #eda2b9 !important;
    border-bottom: 2px solid #eda2b9 !important;
}
.text-pres{
    color: #fff;
    text-align: center;
}
h4{
    color: #eda2b9 !important;
}
h1, h2, h3, h4, p {
    margin: 1rem;
    color: #fff;
}
.border-card{
    border-radius: 1rem !important;
}
.img-rounded-left {
    border-top-left-radius: 1rem !important; 
    border-bottom-left-radius: 1rem !important;
}
.btn-rosa-pri{
    background-color: #202020 !important; 
    color:#eda2b9 !important;
    border-color:#eda2b9 !important;
}
.btn-rosa-pri:hover{
    background-color: #eda2b9 !important;
    color: #ffffff !important;
}
.btn-rosa-sec {
    border-color: #eda2b9;
    color: #eda2b9 !important;
}
.btn-rosa-sec:hover {
    background-color: #eda2b9 !important;
    color: #202020 !important;
}
.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.btn {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 16px !important;
    font-weight: bold !important;
    padding: 10px 20px !important;
    border-radius: 4rem !important;
    text-decoration: none !important;
    transition: all 0.3s ease !important;
}

.card-color{
    background-color: #202020 !important;
    border: 1px solid #40434A !important;
    text-align: left !important;
}
.text-pri{
    color: #eda2b9;
}
.icon-pri{
    color: #eda2b9;
    font-size: 60px;
    align-items: center;
}
.icon-style {
    display: inline-block; 
    color: #eda2b9;
    font-size: 60px;
    position: relative;
}
.card-color{
    background-color: #202020;
    border: 1px solid #40434A;
    text-align: left;
}
.icon-figma{
    font-size: 70px;
    background-color: #eda2b9;
    color: #ffffff;
    border-radius: 1rem;
}
.stars{
    font-size: 30px;
    color: #eda2b9;
}
.svg{
    width: 300px;
    height: 60px;
    margin-left: 3rem;
}
.icon-large {
    color: #eda2b9;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
.shadow-pink{
    box-shadow: 0 -3px 25px #eda2b9; 
}
.shadow-card{
    box-shadow: 0 3px 15px #eda2b9; 
}
.shadow-XL{
    box-shadow: 0 3px 100px #eda2b9; 
    background-color: transparent;
}
.footer-color{
    background-color: #202020;
    border-color: #eda2b9 !important;
}
.rotulo {
    color: white;
    padding: 50px; 
    text-align: center; 
    font-size: 24px;
    font-weight: bold; 
    width: 100%; 
}
.card-m{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.marg-l{
    margin-left: 16rem;
}
.none {
    text-decoration: none;
}
.bottom-x {
    margin-top: 6rem ;
    margin-bottom: 6rem;
}
.burger{
    color: #ffffff !important;
    background-color: #eda2b9;
}

